<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
<main class="container">

    <h1 class="jumbotron">Hello World </h1>

    <p> Desafortunadamente, ésta búsqueda no obtuvo resultados </p>
</main>


    <%- include ("../partials/footer.ejs") %>

</body>

</html>